<ng-template #popContent>
  <app-check-list [data]="checklist"></app-check-list>
</ng-template>

<mat-form-field [floatLabel]="show_label" class="password w-100">
  <mat-label *ngIf="label">{{label}}</mat-label>
  <input matInput type="password" [formControl]="password" [placeholder]="placeholder" #passowrdInput
    (input)="p.open()">
  <password-visibility-control matSuffix [inputElement]="passowrdInput" [ngbPopover]="popContent" triggers="focus"
    #p="ngbPopover"></password-visibility-control>
  <mat-error *ngIf="password.hasError('required')">Password is required</mat-error>
</mat-form-field>