::ng-deep {
  .mat-dialog-container {
    border-radius: 10px;
  }
}

button {
  font-size: 12px;
  width: 80px;
  height: 25px;
  line-height: 1;
  border-radius: 5px;
}

.text {
  text-align: center;
  font-size: 14px;
}
